<nav>
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <h3>Welcome</h3>
      </div>
      <div class="links">
        <ul class="navlinks">
          <li><a href="/index">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
