<%- include('partials/head.ejs') -%> <%- include('partials/navbar.ejs') -%>

<div class="container">
  <h2>Welcome to Home Page</h2>
  <a href="/load">View Load Page</a>
</div>

<%- include('partials/footer.ejs') -%>
