<%- include('partials/head.ejs') -%> <%- include('partials/navbar.ejs') -%>

<section>
  <div class="container">
    <h1>Load Page</h1>
    <form action="/load" method="POST">
      <input type="text" placeholder="Title" />
    </form>
  </div>
</section>

<%- include('partials/footer.ejs') -%>
