
/*---------Login--------------*/
section {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 350px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
}
form .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
}
form .input-group .error {
    color: red;
    font-size: .8rem;
}
form .input-group input {
    padding: 0.8rem 0.4rem;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 5px;
}
form .input-group button {
    padding: 0.8rem;
    cursor: pointer;
    background: rgb(66, 172, 122);
    color: #fff;
    border: 1px solid rgb(66, 172, 122);
    font-size: 1.2rem;
    border-radius: 5px;
}